/* --- Global Styles & Variables --- */
:root {
    --primary-purple: #8E44AD; /* YENİ: Logodan gelen ana mor */
    --dark-charcoal: #1a1a1a;
    --off-black: #111111;
    --accent-gold: #BFA14B; /* YENİ: Logodan gelen altın rengi */
    --light-text: #f0f0f0;
    --secondary-text: #aaaaaa;
    --header-font: 'Bebas Neue', sans-serif;
    --body-font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    background-color: var(--dark-charcoal);
    color: var(--light-text);
}

h2, h3, h4 {
    font-family: var(--header-font);
    letter-spacing: 1.5px;
}

a {
    color: var(--primary-purple);
    text-decoration: none;
